<h1>照片圈</h1>

<form action="/insert_photo_record">
  <label for="browser_input">照片网址</label>
  <input id="browser_input" type="text" name="input_image" placeholder="请复制照片网址...">

  <label for="browser_caption">留言</label>
  <textarea id="browser_caption" name="input_caption" placeholder="请添加留言..."></textarea>

  <button>添加照片</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>照片</th>
    <th>留言</th>
    <th>所有者</th>
    <th>发布</th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.created_at %>
    </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        查看更多
      </a>
    </td>
  </tr>
  
  <% end %>
</table>
